/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/********card hebergement***********/

.hebergements-card img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.hebergements-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: -40px;
}

.hebergements-card .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
}

.hebergements-card .card-content {
    width: 240px;
    height: 100px;
}

.hebergements-card .card-title{
    margin-top: -10px;
}

.hebergements-card .card-subtitle {
    margin-top: -10px;
}

.hebergements-card .card-rating {
    margin-top: -10px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/**********Nav Bar*****************/
/*nav ecartement*/
nav{
   display: flex;
   justify-content: space-between; 
}
/*nav lien justifier a droite*/
link{
    display: flex;
    justify-content: flex-end;
}
/* lien a marge et hauteur(top) pour le surlignement*/
link ,a{
    margin-left: 40px;
    padding-top: 6px;
}
/* couleur et surlignement en haut(top)*/
.element:hover{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}

/************************************/
/******* fin de la Nav Bar***********/
/*mdolule de recherche justifier a gauche centrer verticalemnt */
.moduleRechercher{
    display: flex;
    justify-content: flex-start;
    align-items: center;   
}
/*couleur icon*/
.my-icon-black {
    color: black; 
}

/* fond et contour*/
.marqueurMap{
    
    text-align: center;
    vertical-align: bottom;
    position: relative;
    left: 0px;
    border-radius: 12px 0px 0px 12px;
    background-color: #F2F2F2;
    padding: 10px;
    
}

/*formulaire*/
input{
    right: 2px;
    height: 37px;
    width: 200px;
    color: black;
    border: none;
    font-weight: bold;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    text-align: center;
    
}

/*bouton*/
.recherche{
    right: 3px;
    font-weight: bold;
    font-size: 16px;
    background-color: #0065FC;
    color: #F2F2F2;
    border: none;
    border-radius: 0px 12px 12px 0px;
    height: 37px;
    padding: 9px 12px 9px 12px;
}
/***********************************/
/***********Filter Bar**************/
.filterBar{
    display: flex;
    justify-content: flex-start; 
}

li{
    list-style-type: none;
    display: flex;
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
}

ul{
    margin-top: 26px ;
}

.moduleFiltre{     
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    margin-right: 30px;
    padding: 10px 10px 10px 10px;
    font-weight: bold;
}

.moduleFiltre:hover{
    background-color: #DEEBFF;
}

/***********************************/
/********module information*********/
.moduleInformation {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.moduleInformation .fa-info {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065FC;
    border: 1px solid #d9d9d9;
    width: 15px;
    height: 15px;
    border-radius: 25px;
    padding: 10px;
    margin-right: 10px;
}
/***********************************/
/*********activite******************/
.galerie {
    display: flex;          
    gap: 20px;              
    align-items: center;
}

.galerie img {
    flex: 1;                
    height: 420px;          
    width: 320px;           
    object-fit: cover;   
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.card-activites {

    box-shadow: 0px 5px 5px  #d9d9d9;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.card-activites-title{
    margin-left: 0px;
}

/***********************************/
/*************footer****************/
.panel-footer {
    width: 100%;
    background-color: #F2F2F2;
    margin-top: 80px;
    
}
th{
  font-size: 20px;  
}
/* Aligne  */
th, td {
    padding: 8px;
    text-align: left; 
}


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}